.git
.github
node_modules
app/node_modules

docs
terraform
ansible
tools/*
!tools/ansible/
!tools/ansible/Dockerfile
!tools/ansible/requirements.txt
!tools/ansible/requirements.yml

.DS_Store
.env
.env.*
npm-debug.log*
*.log

**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars